/* ReSharper disable CssNotResolved */
/* ReSharper disable Html.TagNotResolved */
/* ReSharper disable InvalidValue */
/* ReSharper disable RedundantUnits */
/* ReSharper disable UnexpectedValue */

/* Common */


EditText {
    color: #ffffff;
    font: 3sp arial;
    height: 4sp;
    horizontal-align: center;
    width: 60%;
}

Button {
    background-color: #fd724c;
    border-color: #fd724c;
    border-radius: 200dp;
    border-style: solid;
    border-width: 2px;
    color: #ffffff;
    horizontal-align: center;
    selected-background: #fdb29e;
}

.RootLayout {
    background-color: #4a4b5e;
    height: 100%;
    width: 100%;
}

/* End of Common */

/* AuthScreen style */

.AuthScreenBitTV {
    color: #ffffff;
    font: 5sp arial;
    height: 6sp;
    horizontal-align: center;
    margin-top: 30sp;
    text-align: center;
    width: 60%;
}

.AuthScreenLoginET { margin-top: 10sp; }

.AuthScreenPasswordET { margin-top: 5sp; }

.AuthScreenConnectBTN {
    font: 4sp arial;
    height: 10sp;
    margin-top: 5sp;
    width: 60sp;
}

.AuthScreenExitBTN {
    font: 3sp arial;
    height: 8sp;
    margin-top: 10sp;
    width: 20sp;
}

.RootLayoutWithPattern {
    /*background-color: #4a4b5e;*/
    background-image: url(Image\AuthScreen\background.png);
    height: 100%;
    width: 100%;
}
/* End of AuthScreen style */