/* ReSharper disable CssNotResolved */
/* ReSharper disable Html.TagNotResolved */
/* ReSharper disable InvalidValue */
/* ReSharper disable RedundantUnits */
/* ReSharper disable UnexpectedValue */

/* Common */

.RootLayout {
	background-color: #ffffff;
	height: 100%;
	width: 100%;
}

body {
	background-color: #ffffff;
	height: 100%;
	width: 100%;
}

TextView {
	color: #51595b;
	font: 2.5sp arial;
	height: 3.5sp auto;
	horizontal-align: center;
	text-align: left;
	vertical-align: center;
	white-space: normal;
	width: 100%;
}

EditText{
	color: #51595b;
	font: 2.5sp arial;
	height: 3.5sp auto;
	horizontal-align: center;
	text-align: left;
	vertical-align: center;
	white-space: normal;
	width: 100%;
}

CheckBox {
	width: 30%;
	height: 50%;
	/*margin-top: 25%;*/
	margin-left: 30%;
	vertical-align: center;
	horizontal-align: center;
}

Image {
	height: 50%;
	color: #ffffff;
	margin-left: 20%;
	background-color: #ffffff;
	horizontal-align: center;
	vertical-align: center;
}

/* End of Common */

/* Top Info Component */

.TopInfoLayout {
	background-color: #4a4b5e;
	dock-align: top;
	height: 4sp auto;
	padding-top: 1sp;
	width: 100%;
}

.TopInfoHeadingLayout {
	height: 7sp;
	/*margin-top: 2.5sp;*/
	width: 100%;
}

.TopInfoHeading {
	background-color: #4a4b5e;
	border-style: none;
	border-width: 0px;
	color: #ffffff;
	font: 40% arial;
	height: 100%;
	padding-top: 26%;
	text-align: center;
	width: 68%;
}

.TopInfoButton {
	background-color: #4a4b5e;
	border-style: none;
	border-width: 0px;
	color: #ffffff;
	font: 40% arial;
	height: 100%;
	selected-background: #64657e;
	text-align: center;
	width: 16%;
}

.TopInfoButtonImage {
	height: 60%;
	horizontal-align: center;
	margin-top: 20%;
}

.TopInfoComment {
	color: #c4c4c9;
	font: 2.4sp arial;
	height: 0sp auto;
	horizontal-align: center;
	text-align: center;
	white-space: normal;
	width: 58%;
}

.TopInfoArrowDown {
	horizontal-align: center;
	width: 100sp;
}

.TopInfoExtraLayout {
	background-color: #4a4b5e;
	dock-align: top;
	height: 1sp auto;
	width: 100%;
}

.TopInfoImageLayout {
	background-color: #ffffff;
	dock-align: top;
	height: 1sp auto;
	width: 100%;
}

.TopInfoExtraButtonsLayout {
	height: 10sp auto;
	horizontal-align: center;
	width: 80%;
}

.TopInfoSideExtraLayout {
	height: 100% auto;
	width: 50%;
}

.TopInfoSideImage {
	height: 50%;
	horizontal-align: center;
}

.TopInfoSideText {
    color: #ffffff;
}

/* End of Top Info Component style */


/* Start CheckList style */

/* Start CheckList common */

.CheckListRequiredVL {
	background-color: #eb5040;
	width: 1%;
	height: 0% auto;
}

.CheckListRequiredDoneVL {
	background-color: #8abf57;
	width: 1%;
	height: 0% auto;
}

.CheckListNotRequiredVL {
	background-color: #ffffff;
	width: 1%;
	height: 0% auto;
}

.CheckListMainSVL {
	background-color: #ffffff;
	height: 100%;
	width: 100%;
}

.CheckListItemHL {
	height: 0% auto;
	horizontal-align: center;
	width: 100%;
}

.CheckListQuestionVL {
	height: 9sp auto;
	vertical-align: center;
	horizontal-align: center;
	width: 70%;
}

.CheckListDescriptionTV {
	color: #51595b;
	font: 2.5sp arial;
	margin-top: 3sp;
	margin-left: 3sp;
	text-align: left;
	vertical-align: center;
	horizontal-align: center;
}

.CheckListAnswerVL {
	height: 9sp auto;
	vertical-align: center;
	horizontal-align: center;
	width: 29%;
}

.CheckListAnswerElement {
    width: 95%;
	color: #8587b1;
	margin-top: 3sp;
    margin-right: 3sp;
    margin-bottom: 3sp;
	text-align: right;
	vertical-align: center;
	horizontal-align: right;
}

/* End of CheckList common */

.CheckListAnswerImage {
    height: 50%;
	color: #ffffff;
	background-color: #ffffff;
    margin-top: 3sp;
    margin-right: 3sp;
    margin-bottom: 3sp;
	horizontal-align: right;
    vertical-align: center;
}

.CheckListAnswerBool {
    height: 50%;
    width: 25%;
	color: #ffffff;
	background-color: #ffffff;
    margin-top: 3sp;
    margin-right: 3sp;
    margin-bottom: 3sp;
	vertical-align: center;
	horizontal-align: right;
}

.CheckListStringET {
	/*margin-top: 1sp;*/
	margin-left: 3sp;
    margin-bottom: 3sp;
	color: #8587b1;
	font: 2.5sp arial;
	height: 3.5sp auto;
	horizontal-align: center;
	text-align: left;
	white-space: normal;
	width: 100%;
}

.CheckListStringVL {
	height: 100% auto;
	vertical-align: center;
	width: 100%;
}

.CheckListName {
	color: #4a4b5e;
	font: 2sp arial;
	margin-top: 1sp;
	margin-left: 3%;
	text-align: left;
}

.CheckListBreaker {
	background-color: #f4f4f4;
	height: 2px;
	horizontal-align: center;
	width: 95%;
}

/* End of CheckList style */