/* ReSharper disable CssNotResolved */
/* ReSharper disable Html.TagNotResolved */
/* ReSharper disable InvalidValue */
/* ReSharper disable RedundantUnits */
/* ReSharper disable UnexpectedValue */


body {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

TextView {
    color: #51595b;
    font: 2.5sp arial;
    height: 3.5sp auto;
    horizontal-align: center;
    text-align: center;
    vertical-align: center;
    white-space: normal;
    width: 100%;
}

.NoHeight {
    height: 0%;
    width: 100%;
}

.RootLayout {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

/* Top Info Component */

.TopInfoLayout {
    background-color: #4a4b5e;
    dock-align: top;
    height: 4sp auto;
    padding-top: 1sp;
    width: 100%;
}

.TopInfoHeadingLayout {
    height: 7sp auto;
    /*margin-top: 2.5sp;*/
    width: 100%;
}

.TopInfoHeading {
    background-color: #4a4b5e;
    border-style: none;
    border-width: 0px;
    color: #ffffff;
    font: 40% arial;
    height: 100% auto;
    padding-top: 26%;
    text-align: center;
    width: 68%;
}

.TopInfoButton {
    background-color: #4a4b5e;
    border-style: none;
    border-width: 0px;
    color: #ffffff;
    font: 40% arial;
    height: 100%;
    selected-background: #64657e;
    text-align: center;
    width: 16%;
}

.TopInfoButtonImage {
    height: 60%;
    horizontal-align: center;
    margin-top: 20%;
}

.TopInfoComment {
    color: #c4c4c9;
    font: 2.4sp arial;
    height: 0sp auto;
    horizontal-align: center;
    text-align: center;
    white-space: normal;
    width: 58%;
}

.TopInfoArrowDown {
    horizontal-align: center;
    width: 100sp;
}

.TopInfoExtraLayout {
    background-color: #4a4b5e;
    dock-align: top;
    height: 1sp auto;
    width: 100%;
}

.TopInfoImageLayout {
    background-color: #ffffff;
    dock-align: top;
    height: 1sp auto;
    width: 100%;
}

.TopInfoExtraButtonsLayout {
    height: 10sp auto;
    horizontal-align: center;
    width: 80%;
}

.TopInfoSideExtraLayout {
    height: 100% auto;
    width: 50%;
}

.TopInfoSideImage {
    height: 50%;
    horizontal-align: center;
}

.TopInfoSideText { color: #ffffff; }

/* Top Info Bar LeftExtraLayout and RightExtraLayout*/

.ExtraLeftLayoutCss {
    background-color: #4a4b5e;
    height: 15sp;
    margin-left: 25%;
    margin-top: 25%;
    width: 15sp;
}

.ExtraRightLayoutCss {
    background-color: #4a4b5e;
    height: 15sp;
    margin-right: 25%;
    margin-top: 25%;
    width: 15sp;
}

.ExtraInfo {
    background-color: #4a4b5e;
    color: #9595a3;
    font: 3sp arial;
    height: 50%;
    text-align: center;
    width: 100%;
}

.BottonExtraInfo {
    background-color: #4a4b5e;
    color: #9595a3;
    font: 2sp arial;
    height: 50%;
    text-align: center;
    width: 100%;
}

/*  ClientList */
.ClientListLayout {
	height: auto;
	width: 100%;
	margin-top: 1sp;
	margin-bottom: 0sp;
}

.ClientItemLayout {
	height: 12sp;
	horizontal-align: center;
	width: 90%;
}

.ClientItemName {
	font: 3sp arial;
	horizontal-align: left;
	text-align: left;
	color: #000000;
	margin-top: 0sp;
	margin-left: 2sp;
}

.ClientItemAddress {
	font: 2.5sp arial;
	horizontal-align: left;
	text-align: left;
	margin-bottom: 1sp;
	margin-left: 2sp;
}

.ClientBreaker {
	background-color: #f3f3f4;
	height: 3px;
	margin-left: 2sp;
	width: 95%;
	horizontal-align: left;
	vertical-align: center;
}
/* End of ClientList */

/* Tab Bar style */
.TabBarMainVL {
    background-color: #ffffff;
	dock-align: bottom;
	height: 9%;
	horizontal-align: center;
	width: 100%;
}

.TabBarHL {
    background-color: #ffffff;
    dock-align: bottom;
    height: 10%;
    horizontal-align: center;
    /*margin-top: 2%;*/
    width: 100%;
}

.TabBarVL {
    background-color: #ffffff;
    color: #ffffff;
    height: 100%;
    horizontal-align: center;
    margin-bottom: 0%;
    vertical-align: center;
    width: 25%;
}

.TabImage {
    background-color: #ffffff;
    color: #ffffff;
    height: 50%;
    horizontal-align: center;
    margin-top: 10%;
    vertical-align: center;
}

.TabTextViewActive {
    background-color: #ffffff;
    color: #fd724c;
    text-align: center;
}

.TabTextViewNotActive {
    background-color: #ffffff;
    color: #9b9fa0;
    text-align: center;
}
/* End of Tab Bar style */

/*  ClientList */

.ClientListMainSVL {
    height: auto;
    margin-bottom: 0sp;
    width: 100%;
}

.ClientListItemVL {
    height: 10sp auto;
    horizontal-align: center;
    width: 100%;
}

.ClientListNameTV {
    color: #51595b;
    font: 3sp arial;
    horizontal-align: left;
    margin-left: 5%;
    margin-top: 3sp;
    text-align: left;
    width: 90%;
}

.ClientListAddressTV {
    color: #9b9fa0;
    font: 2.5sp arial;
    horizontal-align: left;
    margin-bottom: 2.5sp;
    margin-left: 5%;
    margin-top: 1sp;
    text-align: left;
    width: 90%;
}

.ClientListBreaker {
    background-color: #f4f4f4;
    height: 2px;
    margin-left: 5%;
    width: 90%;
}