/* ReSharper disable CssNotResolved */
/* ReSharper disable Html.TagNotResolved */
/* ReSharper disable InvalidValue */
/* ReSharper disable RedundantUnits */
/* ReSharper disable UnexpectedValue */
body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
vl {
  height: 0sp auto;
  width: 100%;
}
hl {
  height: 0sp auto;
  width: 100%;
}
DockLayout {
  height: 0sp auto;
  width: 100%;
}
TextView {
  color: #51595b;
  font: 2.5sp arial;
  height: 2.775sp auto;
  horizontal-align: center;
  text-align: center;
  vertical-align: center;
  white-space: normal;
  width: 100%;
}
HorizontalLine {
  background-color: #f4f4f5;
  height: 0.15sp;
  horizontal-align: center;
  width: 90%;
}
.NoHeight {
  height: 0%;
}
.RootLayout {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
.EmptySpace3-2sp {
  height: 1.5sp;
  width: 100%;
}
.EmptySpace8sp {
  height: 8sp;
  width: 100%;
}
.EmptySpace7sp {
  height: 7sp;
  width: 100%;
}
.EmptySpace6sp {
  height: 6sp;
  width: 100%;
}
.EmptySpace5sp {
  height: 5sp;
  width: 100%;
}
.EmptySpace4sp {
  height: 4sp;
  width: 100%;
}
.EmptySpace3sp {
  height: 3sp;
  width: 100%;
}
.EmptySpace2sp {
  height: 2sp;
  width: 100%;
}
.EmptySpace1sp {
  height: 1sp;
  width: 100%;
}
.TopInfoLayout {
  dock-align: top;
  padding-top: 0.75sp;
  background-color: #4a4b5e;
}
.TopInfoHeadingLayout {
  margin-top: 0.75sp;
  height: 4.28553391sp auto;
  width: 100%;
}
.TopInfoHeadingTextLayout {
  height: 100% auto;
  width: 45%;
  vertical-align: center;
}
.TopInfoHeading {
  color: #ffffff;
  font: 3.08558441sp arial;
  height: 3.4249987sp auto;
  padding-top: 0.28703111sp;
}
.TopInfoSubHeading {
  color: #d4d4d7;
  font: 1.78146299sp arial;
  height: 1.97742392sp auto;
}
.TopInfoButtonLeft {
  width: 27.5%;
  height: 3.85698052sp;
  vertical-align: center;
}
.TopInfoButtonLeft Image {
  height: 3.85698052sp;
}
.TopInfoButtonLeft TextView {
  color: #fd724c;
  font: 2.93130519sp arial;
  height: 3.25374876sp auto;
  margin-top: 0.07713961sp;
  horizontal-align: center;
}
.TopInfoButtonLeft Image {
  horizontal-align: left;
  margin-left: 5sp;
}
.TopInfoButtonRight {
  width: 27.5%;
  height: 3.85698052sp;
  vertical-align: center;
}
.TopInfoButtonRight Image {
  height: 3.85698052sp;
}
.TopInfoButtonRight TextView {
  color: #fd724c;
  font: 2.93130519sp arial;
  height: 3.25374876sp auto;
  margin-top: 0.07713961sp;
  horizontal-align: center;
}
.TopInfoButtonRight Image {
  horizontal-align: right;
  margin-right: 5sp;
}
.TopInfoEmptySpace8sp {
  height: 8sp;
  width: 100%;
  background-color: #4a4b5e;
}
.TopInfoEmptySpace7sp {
  height: 7sp;
  width: 100%;
  background-color: #4a4b5e;
}
.TopInfoEmptySpace6sp {
  height: 6sp;
  width: 100%;
  background-color: #4a4b5e;
}
.TopInfoEmptySpace5sp {
  height: 5sp;
  width: 100%;
  background-color: #4a4b5e;
}
.TopInfoEmptySpace4sp {
  height: 4sp;
  width: 100%;
  background-color: #4a4b5e;
}
.TopInfoEmptySpace3sp {
  height: 3sp;
  width: 100%;
  background-color: #4a4b5e;
}
.TopInfoEmptySpace2sp {
  height: 2sp;
  width: 100%;
  background-color: #4a4b5e;
}
.TopInfoEmptySpace1sp {
  height: 1sp;
  width: 100%;
  background-color: #4a4b5e;
}
.TopInfoArrowDown {
  width: 100%;
}
.TopInfoCommentLayout {
  width: 80%;
  horizontal-align: center;
  margin-top: 1.2sp;
  margin-bottom: 0.5sp;
}
.TopInfoCommentLayout TextView {
  margin-top: 0.5sp;
  font: 2.05705627sp arial;
  height: 2.28333247sp auto;
  color: #d4d4d7;
}
.TopInfoExtraLayout {
  height: 0sp auto;
  width: 100%;
  width: 80%;
  horizontal-align: center;
}
.TopInfoExtraLayout TextView {
  color: #ffffff;
}
.TopInfoHeadingTextLayoutWithPicOnly {
  height: 100% auto;
  width: 45%;
  vertical-align: center;
  width: 70%;
}
.TopInfoButtonLeftWithPicOnly {
  width: 15%;
  height: 3.85698052sp;
  vertical-align: center;
  dock-align: left;
}
.TopInfoButtonLeftWithPicOnly Image {
  height: 3.85698052sp;
}
.TopInfoButtonLeftWithPicOnly TextView {
  color: #fd724c;
  font: 2.93130519sp arial;
  height: 3.25374876sp auto;
  margin-top: 0.07713961sp;
  horizontal-align: center;
}
.TopInfoButtonLeftWithPicOnly Image {
  horizontal-align: left;
  margin-left: 5sp;
}
.TopInfoButtonRightWithPicOnly {
  width: 15%;
  height: 3.85698052sp;
  vertical-align: center;
  dock-align: right;
}
.TopInfoButtonRightWithPicOnly Image {
  height: 3.85698052sp;
}
.TopInfoButtonRightWithPicOnly TextView {
  color: #fd724c;
  font: 2.93130519sp arial;
  height: 3.25374876sp auto;
  margin-top: 0.07713961sp;
  horizontal-align: center;
}
.TopInfoButtonRightWithPicOnly Image {
  horizontal-align: right;
  margin-right: 5sp;
}
/* Client Screen css class */
.ClientDescriptionVL {
  background-color: #626271;
  width: 100%;
}
.ClientDescriptionTV {
  color: #ffffff;
  font: 3.08558441sp arial;
  height: 3.4249987sp auto;
  height: 0sp auto;
  width: 100%;
  margin-top: 1.54279221sp;
  margin-bottom: 1.54279221sp;
  horizontal-align: center;
  text-align: center;
  width: 80%;
}
.ClientSV {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
.MapContainerHL {
  height: 25sp;
  width: 100%;
}
.MapStyleClient {
  height: 100%;
  width: 100%;
}
.ClientAdressHL {
  height: 7.5sp auto;
  width: 90%;
  horizontal-align: center;
}
.ClientAdressTV {
  font: 2.5sp arial;
  height: 2.775sp auto;
  margin-top: 2.5sp;
  margin-bottom: 2.5sp;
  text-align: left;
  white-space: normal;
  vertical-align: top;
  width: 70%;
}
.DistanceVL {
  margin-top: 2.5sp;
  width: 30%;
  height: 2.75sp;
  vertical-align: top;
}
.DistanceHL {
  horizontal-align: right;
  width: 0sp auto;
}
.ClientDistanceTV {
  color: #909499;
  margin-left: 1sp;
  width: 0sp auto;
}
.GPSImage {
  height: 1.5sp;
  vertical-align: center;
}
.ContactsTV {
  color: #a4a8a9;
  text-align: center;
}
.ContactsListHL {
  height: 0% auto;
  width: 100%;
}
.ContactsListVL {
  height: 0% auto;
  width: 100%;
}
.ContactsContainerVL {
  height: 10sp;
  width: 80%;
}
.ContactDescriptionTV {
  color: #51595b;
  font: 2.5sp arial;
  height: 50%;
  padding-left: 5sp;
  padding-top: 25%;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}
.ContactPositionTV {
  color: #9b9fa0;
  font: 2.5sp arial;
  height: 50%;
  padding-left: 5sp;
  padding-top: 5%;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}
.CallToClientButton {
  height: 10sp;
  width: 20%;
}
.CallToClientContainer {
  height: 100%;
  horizontal-align: center;
  width: 0% auto;
}
.CallImageImg {
  height: 4sp;
  vertical-align: center;
}
.AddContactBtn {
  color: #ff0000;
  font: 3sp arial;
  height: 8sp;
  margin-left: 11%;
  width: 100%;
}
.EquipmentsTV {
  color: #a4a8a9;
  font: 2.5sp * 1.2 arial;
  height: 3.33sp auto;
  vertical-align: center;
  text-align: center;
  width: 0sp auto;
}
.EquipmentVL {
  height: 0% auto;
  width: 100%;
}
.EquipmentContainerVL {
  height: 0sp auto;
  width: 100%;
}
.EquipmentTypeTV {
  color: #51595b;
  font: 2.5sp arial;
  height: 50%;
  padding-left: 5sp;
  padding-top: 25%;
  text-align: left;
  width: 100%;
}
.EquipmentNameTV {
  color: #a6a9aa;
  font: 2.5sp arial;
  height: 2.775sp auto;
  padding-left: 5sp;
  padding-top: 2sp;
  padding-bottom: 2sp;
  text-align: left;
  width: 100%;
}
.FatLine {
  background-color: #c6c6c9;
  height: 0.3sp;
  horizontal-align: center;
  width: 5%;
}
.WideLineHL {
  background-color: f3f3f4;
  height: 3dp;
  width: 100%;
}
.ContainerLineSplitter {
  height: 3dp;
  width: 100%;
}
.LineSplitter {
  background-color: #f3f3f4;
  height: 100%;
  horizontal-align: center;
  width: 90%;
}
.AddButtonVl {
  height: 10sp;
  width: 100%;
}
.AddContainerHL {
  height: 90%;
  horizontal-align: center;
  padding-left: 20%;
  width: 90%;
}
.AddImg {
  height: 2sp;
  vertical-align: center;
}
.AddTV {
  color: #fd724c;
  font: 3sp arial;
  height: 80%;
  margin-left: 3%;
  padding-top: 22%;
  text-align: left;
  vertical-align: center;
  width: 40% auto;
}
.MainAlignContainer {
  height: 8sp;
  width: 100%;
}
.InerAlignContainer {
  height: 100%;
  width: 0sp auto;
  horizontal-align: center;
}
/* ------------------------------------ */