/* ReSharper disable CssNotResolved */
/* ReSharper disable Html.TagNotResolved */
/* ReSharper disable InvalidValue */
/* ReSharper disable RedundantUnits */
/* ReSharper disable UnexpectedValue */


body {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

TextView {
    color: #51595b;
    font: 2.5sp arial;
    height: 3.5sp auto;
    horizontal-align: center;
    text-align: center;
    vertical-align: center;
    white-space: normal;
    width: 100%;
}

.NoHeight {
    height: 0%;
    width: 100%;
}

.RootLayout {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

/* Top  Component */

.TopLayout{
	background-color: #4a4b5e;
	height: 7sp auto;
	padding-bottom: 2sp;
	padding-top: 1sp;
	width: 100%;
}


.TopHeading{
	background-color: #4a4b5e;
	border-style: none;
	border-width: 0px;
	color: #ffffff;
	font: 40% arial;
	height: 100%;
	padding-top: 26%;
	text-align: center;
	width: 68%;
}

.TopButton {
	background-color: #4a4b5e;
	border-style: none;
	border-width: 0px;
	color: #ffffff;
	font: 40% arial;
	height: 100%;
	selected-background: #64657e;
	text-align: center;
	width: 16%;
}

.TopButtonImage {
	height: 60%;
	horizontal-align: center;
	margin-top: 20%;
}

/* ---------------------------------- */

