/* ReSharper disable CssNotResolved */
/* ReSharper disable Html.TagNotResolved */
/* ReSharper disable InvalidValue */


body {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

TextView {
    color: #51595b;
    font: 2.5sp arial;
    height: 3.5sp auto;
    horizontal-align: center;
    text-align: center;
    vertical-align: center;
    white-space: normal;
    width: 100%;
}

.NoHeight {
    height: 0%;
    width: 100%;
}

.RootLayout {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

/* Top Info Component */

.TopInfoLayout {
    background-color: #4a4b5e;
    dock-align: top;
    height: 4sp auto;
    padding-top: 1sp;
    width: 100%;
}

.TopInfoHeadingLayout {
    height: 7sp auto;
    /*margin-top: 2.5sp;*/
    width: 100%;
}

.TopInfoHeading {
    background-color: #4a4b5e;
    border-style: none;
    border-width: 0px;
    color: #ffffff;
    font: 40% arial;
    height: 100% auto;
    padding-top: 26%;
    text-align: center;
    width: 68%;
}

.TopInfoButton {
    background-color: #4a4b5e;
    border-style: none;
    border-width: 0px;
    color: #ffffff;
    font: 40% arial;
    height: 100%;
    selected-background: #64657e;
    text-align: center;
    width: 16%;
}

.TopInfoButtonImage {
    height: 60%;
    horizontal-align: center;
    margin-top: 20%;
}

.TopInfoComment {
    color: #c4c4c9;
    font: 2.4sp arial;
    height: 0sp auto;
    horizontal-align: center;
    text-align: center;
    white-space: normal;
    width: 58%;
}

.TopInfoArrowDown {
    horizontal-align: center;
    width: 100sp;
}

.TopInfoExtraLayout {
    background-color: #4a4b5e;
    dock-align: top;
    height: 1sp auto;
    width: 100%;
}

.TopInfoImageLayout {
    background-color: #ffffff;
    dock-align: top;
    height: 1sp auto;
    width: 100%;
}

.TopInfoExtraButtonsLayout {
    height: 10sp auto;
    horizontal-align: center;
    width: 80%;
}

.TopInfoSideExtraLayout {
    height: 100% auto;
    width: 50%;
}

.TopInfoSideImage {
    height: 50%;
    horizontal-align: center;
}

.TopInfoSideText { color: #ffffff; }

/* ---------------------------------- */

.TotalPriceInfoVL {
    height: 10sp;
    width: 100%;
}

.TotalPriceInfoHL {
    height: 90%;
    horizontal-align: center;
    width: 90%;
}

.LeftInfoTV {
    color: #51595b;
    font: 4sp arial;
    height: 100%;
    padding-top: 15%;
    text-align: right;
    vertical-align: center;
    width: 50%;
}

.RightInfoTV {
    color: #9b9fa0;
    font: 4sp arial;
    height: 100%;
    padding-top: 15%;
    text-align: left;
    vertical-align: center;
    width: 50%;
}

.WideHL {
    background-color: #f4f4f4;
    height: 3px;
    width: 100%;
}

.InfoNodeHL {
    height: 10sp;
    width: 100%;
}

.InfoImageCondtainerVL {
    height: 10sp;
    margin-left: 3%;
    width: 15%;
}

.InfoImageContainerHL {
    height: 100%;
    vertical-align: center;
    width: 80%;
}

.DeleteIcoImg {
    height: 4sp;
    vertical-align: center;
}

.InfoTextContainerVL {
    height: 10sp;
    width: 82%;
}

.NameTV {
    color: #51595b;
    font: 3sp arial;
    height: 50%;
    padding-left: 3%;
    padding-top: 25%;
    text-align: left;
    width: 100%;
}

.PriceTV {
    color: #8587b1;
    font: 3sp arial;
    height: 50%;
    padding-left: 3%;
    padding-top: 5%;
    text-align: left;
    width: 100%;
}

.AddButtonVl {
    height: 10sp;
    width: 100%;
}

.AddContainerHL {
    height: 90%;
    horizontal-align: center;
    padding-left: 20%;
    width: 90%;
}

.AddImg {
    height: 3sp;
    vertical-align: center;
}

.AddTV {
    color: #fd724c;
    font: 3.3sp arial;
    height: 80%;
    padding-top: 22%;
    text-align: left;
    vertical-align: center;
    width: 40% auto;
}

.MiddleHL {
    background-color: #f4f4f4;
    height: 3px;
    width: 90%;
    horizontal-align: center;
}

.VLForSView {
    height: 0% auto;
    width: 100%;
}

.BottomContainerHL {
    height: 15sp;
    width: 100%;
}

.BottomTV {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 35%;
    color: #8587b1;
    font: 3sp arial;
}

.DeleteButtonVL {
    height: 10sp;
    width: 30%;
    background-color: #eb4040;
}

.DeleteButtonTV {
    height: 100%;
    width: 100%;
    text-align: center;
    font: 3sp arial;
    padding-top: 30%;
    color: #ffffff;
}

.SwipeContainerSHL {
    height: 0% auto;
    width: 100%;
}