/* ReSharper disable CssNotResolved */
/* ReSharper disable Html.TagNotResolved */
/* ReSharper disable InvalidValue */
/* ReSharper disable RedundantUnits */
/* ReSharper disable UnexpectedValue */
body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
vl {
  height: 0sp auto;
  width: 100%;
}
hl {
  height: 0sp auto;
  width: 100%;
}
DockLayout {
  height: 0sp auto;
  width: 100%;
}
TextView {
  color: #51595b;
  font: 2.5sp arial;
  height: 2.775sp auto;
  horizontal-align: center;
  text-align: center;
  vertical-align: center;
  white-space: normal;
  width: 100%;
}
HorizontalLine {
  background-color: #f4f4f5;
  height: 0.15sp;
  horizontal-align: center;
  width: 90%;
}
.NoHeight {
  height: 0%;
}
.RootLayout {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
.EmptySpace3-2sp {
  height: 1.5sp;
  width: 100%;
}
.EmptySpace8sp {
  height: 8sp;
  width: 100%;
}
.EmptySpace7sp {
  height: 7sp;
  width: 100%;
}
.EmptySpace6sp {
  height: 6sp;
  width: 100%;
}
.EmptySpace5sp {
  height: 5sp;
  width: 100%;
}
.EmptySpace4sp {
  height: 4sp;
  width: 100%;
}
.EmptySpace3sp {
  height: 3sp;
  width: 100%;
}
.EmptySpace2sp {
  height: 2sp;
  width: 100%;
}
.EmptySpace1sp {
  height: 1sp;
  width: 100%;
}
vl {
  horizontal-align: center;
}
hl {
  horizontal-align: center;
}
Image {
  horizontal-align: center;
}
EditText {
  horizontal-align: center;
  text-align: center;
}
.CloseButtonImage {
  height: 5sp;
  margin-top: 3.8sp;
}
.EditScreenHeader {
  font: 3.5sp arial;
  white-space: normal;
  width: 60%;
}
.SlightlyGrey {
  color: #a6a9aa;
}
.PlusMinusImageWrapper {
  width: 25%;
}
.CounterLayout {
  width: 56%;
}
.PlusMinusImage {
  height: 7sp;
}
.CounterLayout EditText {
  color: #8587b1;
  font: 5sp auto;
  height: 5.5sp;
  margin-bottom: 1.3sp;
  width: 50%;
}
.PriceLayout {
  height: 12sp;
  horizontal-align: center;
  width: 80%;
}
.PriceTitle {
  color: #51595b;
  font: 2.7sp arial;
  text-align: left;
  vertical-align: center;
  width: 55%;
}
.Price {
  color: #9fa3a4;
  font: 2.7sp arial;
  height: 5sp;
  padding-top: 0.3sp;
  text-align: right;
  vertical-align: center;
  width: 34%;
}
.PriceCurrency {
  color: #9fa3a4;
  font: 2.7sp arial;
  margin-left: 1%;
  text-align: right;
  vertical-align: center;
  width: 10%;
}
.TotalPrice {
  color: #8ec15d;
  font: 3.2sp arial;
  height: 3.4sp;
  text-align: right;
  vertical-align: center;
  width: 33%;
}
.TotalPriceCurrency {
  color: #8ec15d;
  font: 3.2sp arial;
  height: 3.4sp;
  margin-left: 2%;
  text-align: right;
  vertical-align: center;
  width: 10%;
}
.AddButton {
  background-color: #fd724c;
  color: #ffffff;
  height: 10sp;
  horizontal-align: center;
  width: 90%;
}
.AddButton TextView {
  font: 3sp arial;
  text-align: center;
  height: 3.3sp;
  vertical-align: center;
  color: #ffffff;
}