body {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

.RootLayout {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

Button {
    background-color: #0000cd;
    color: #ffffe0;
    height: 7sp;
    margin-top: 1sp;
    selected-background: #0000ff;
    text-align: center;
    width: 100%;
}

TextView {
  color: #51595b;
  font: 3sp arial;
  height: 4sp auto;
  horizontal-align: center;
  text-align: center;
  vertical-align: center;
  white-space: normal;
  width: 100%;
}

.TopInfoLeftButton {
    height: 100%;
    text-align: left;
    width: 20%;
}

.TopInfoRightButton {
    height: 100%;
    text-align: center;
    width: 20%;
}

.TopInfoHeading {
    background-color: #ffffff;
    color: #000000;
    font-size: 95%;
    height: 100%;
    text-align: center;
    width: 5%;
}

.TopHorizontalLayout {
    background-color: #0e8a9c;
    height: 40%;
    width: 100%;
}

.TopInfoLayout {
    background-color: #0e8a9c;
    height: 40sp;
    width: 100%;
}

.BottomInfoTV {
    height: 0%;
    width: 0%;
}

.TopInfoDownArrowLayout {
    background-color: #0e8a9c;
    height: auto;
    width: 100%;
}


/* Order List Screen */

.SWL {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.OrderInfoContainer {
    background-color: #ffffff;
    height: 10%;
    width: 100%;
    ;
}

.OrderTimeContainer {
    background-color: #000000;
    height: 100%;
    width: 20%;
}

.StartDatePlane {
    background-color: #ffffff;
    color: #000000;
    height: 60%;
    text-align: center;
    width: 100%;
    padding-top: 10%;
    font: 2.5sp arial;
}

.ActualStartDate {
    background-color: #ffffff;
    color: #feb3a3;
    height: auto;
    text-align: center;
    width: 100%;
    padding-top: 15%;
    font: 2sp arial;
}

.ImportanceContainer {
    background-color: #ffffff;
    height: 100%;
    width: 5%;
}

.ImportanceIndicator {
    background-color: #ff0000;
    height: 25%;
    margin-top: 10%;
    width: 100%;
}

.OrderInfo {
    background-color: #ffffff;
    height: 100%;
    width: auto;
}

.ClientDescription {
    height: 35%;
    width: 100%;
    text-align: left;
    background-color: #ffffff;
    color: #51595b;
    font: 3sp arial;
    padding-top: 10%;
    margin-left: 5%;
}

.ClientAdress {
    height: 30%;
    width: 100%;
    text-align: left;
    background-color: #ffffff;
    color: #51595b;
    font: 2sp arial;
    margin-left: 5%;
}

.TypesDepartures {
    height: 30%;
    width: 100%;
    text-align: left;
    background-color: #ffffff;
    color: #7d7777;
    font: 2sp arial;
    margin-bottom: 2%;
    margin-left: 5%;
}

.ClientHorizontalLine {
    height: 2%;
    width: 100%;
    margin-left: 5%;
    background-color: #fbf6f6;
    horizontal-align: right;
}

/* --------------------------------------------- */