/* ReSharper disable CssNotResolved */
/* ReSharper disable Html.TagNotResolved */
/* ReSharper disable InvalidValue */
/* ReSharper disable RedundantUnits */
/* ReSharper disable UnexpectedValue */


body {
	background-color: #ffffff;
	height: 100%;
	width: 100%;
}

TextView {
	color: #51595b;
	font: 2.5sp arial;
	height: 3.5sp auto;
	horizontal-align: center;
	text-align: center;
	vertical-align: center;
	white-space: normal;
	width: 100%;
}

.NoHeight {
	height: 0%;
	width: 100%;
}

.RootLayout {
	background-color: #ffffff;
	height: 100%;
	width: 100%;
}

/* Top Info Component */

.TopInfoLayout {
	background-color: #4a4b5e;
	dock-align: top;
	height: 4sp auto;
	padding-top: 1sp;
	width: 100%;
}

.TopInfoHeadingLayout {
	height: 7sp auto;
	/*margin-top: 2.5sp;*/
	width: 100%;
}

.TopInfoHeading {
	background-color: #4a4b5e;
	border-style: none;
	border-width: 0px;
	color: #ffffff;
	font: 40% arial;
	height: 100% auto;
	padding-top: 26%;
	text-align: center;
	width: 68%;
}

.TopInfoButton {
	background-color: #4a4b5e;
	border-style: none;
	border-width: 0px;
	color: #ffffff;
	font: 40% arial;
	height: 100%;
	selected-background: #64657e;
	text-align: center;
	width: 16%;
}

.TopInfoButtonImage {
	height: 60%;
	horizontal-align: center;
	margin-top: 20%;
}

.TopInfoComment {
	color: #c4c4c9;
	font: 2.4sp arial;
	height: 0sp auto;
	horizontal-align: center;
	text-align: center;
	white-space: normal;
	width: 58%;
}

.TopInfoArrowDown {
	horizontal-align: center;
	width: 100sp;
}

.TopInfoExtraLayout {
	background-color: #4a4b5e;
	dock-align: top;
	height: 1sp auto;
	width: 100%;
}

.TopInfoImageLayout {
	background-color: #ffffff;
	dock-align: top;
	height: 1sp auto;
	width: 100%;
}

.TopInfoExtraButtonsLayout {
	height: 10sp auto;
	horizontal-align: center;
	width: 80%;
}

.TopInfoSideExtraLayout {
	height: 100% auto;
	width: 50%;
}

.TopInfoSideImage {
	height: 50%;
	horizontal-align: center;
}

.TopInfoSideText { color: #ffffff; }

/* Event Screen */

.EventScreenMainLayout {
	dock-align: top;
	height: auto;
	width: 100%;
}

.LightInfoLayout {
	height: 5sp auto;
	horizontal-align: center;
	width: 90%;
}

.LightInfoBox {
	height: 5sp auto;
	margin-top: 1sp;
	width: 50%;
}

.LightInfoTitle {
	color: #a4a8a9;
	font: 2sp arial;
	height: 3sp;
}

.LightInfoContent { height: 4sp auto; }

.LayoutBreaker {
	background-color: #a4a8a9;
	height: 0.1sp;
	horizontal-align: center;
	width: 90%;
}

.CommentLayout {
	height: 10sp auto;
	horizontal-align: center;
	margin-bottom: 3sp;
	margin-top: 2sp;
	width: 80%;
}

.Comment { height: 7.5sp auto; }

.InfoLayout {
	border-color: #a4a8a9;
	border-style: solid;
	border-width: 2px;
	height: 10sp;
	horizontal-align: center;
	margin-bottom: 2sp;
	padding-bottom: 2sp;
	padding-top: 2sp;
	width: 90%;
}

.InfoImage {
	height: 80%;
	margin-left: 5%;
	vertical-align: center;
}

.InfoTitle {
	font: 4sp arial;
	height: 80%;
	margin-left: 2%;
	padding-top: 1sp;
	text-align: left;
	width: 50%;
}

.InfoContent {
	color: #a4a8a9;
	font: 4sp arial;
	height: 80%;
	margin-right: 5%;
	padding-top: 1sp;
	text-align: right;
	width: 35%;
}

.StartButton {
	background-color: #94da4f;
	color: #d0ffa1;
	dock-align: bottom;
	font: 3.5sp arial;
	height: 10sp;
	width: 100%;
}

.FinishButton {
	background-color: #fe9c81;
	color: #fecbc0;
	dock-align: bottom;
	font: 3.5sp arial;
	height: 10sp;
	width: 100%;
}
