<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <resource>
    <version version="3.1.5.214" />
  </resource>

  <client>
    <supportedCore version="3.2.299.1b20" />
  </client>

  <server>
    <supportedMeta version="3.0.0.0" />
    <host url="http://10.5.195.222" />
    <solutionPath url="/bitmobile/mobileserver" />
  </server>
</configuration>