<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <resource>
    <version version="3.0.0.167" />
  </resource>

  <client>
    <supportedCore version="3.0.171.0" />
  </client>

  <server>
    <supportedMeta version="3.0.0.0" />
    <host>
      http://nt0420.bt
    </host>
    <solutionPath>
      /bitmobile/testsolution
    </solutionPath>
  </server>
</configuration>