<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <resource>
    <version version="3.1.5.229" />
  </resource>

  <client>
    <supportedCore version="3.2.299.1b20" />
  </client>

  <server>
    <supportedMeta version="3.0.0.0" />
     <host url="https://ssdev.superagent.ru" />
    <solutionPath url="/bitmobile3/superservice3dev" />
  </server>
</configuration>