@import "defaults.less";
@import "Components/TopInfoComponent.less";
@import "Components/TabBarComponent.less";

.EventListMainSV {
    height: auto;
    width: 100%;
}

.EventListMainVL {
    height: 0% auto;
    width: 100%;
}

@extra-font-color: #9b9fa0;

.EventListDateTV {
    width: 100%;
    color: @extra-font-color;
    .text-view-style(@little-title-font-size);
    text-align: left;
    margin-left: 4.5sp;
}

.EventListLongBreaker {
    width: 100%;
}

.EventListShortBreaker {
    horizontal-align: right;
    width: 100%;
}

.EventListItemHL {
    .auto-height;
    width: 100%;
}

@listitem-part-time: 20sp;
@listitem-part-status: 2.5sp;
@listitem-part-info: 100sp - @listitem-part-time - @listitem-part-status;

@listitem-margin: 1.5sp;

.EventListTimeVL {
    .auto-height;
    width: @listitem-part-time;
}

.EventListTimeTV {
    margin-top: @listitem-margin;
    margin-left: @listitem-part-status / 2;
    .text-view-style(@default-font-size);
}

.EventListCounterTV {
    color: #fd724c;
    margin-top: 5sp;
    margin-left: @listitem-part-status / 2;
    .text-view-style(@little-title-font-size);
}

.EventListStatusVL {
    color: #ff0000;
    .auto-height;
    width: @listitem-part-status;
}

.EventListLineAround() {
    horizontal-align: center;
    width: 3px;
    background-color: #f3f3f4;
}

.EventListLineBeforeVL {
    .EventListLineAround;
    height: @listitem-margin + @default-font-size * 1.1 / 6;
}

.EventListStatusIMG {
    horizontal-align: center;
    height: 2.5sp;
}

.EventListLineAfterVL {
    .auto-height;
    .EventListLineAround;
}

.EventListDescriptionVL {
    height: 11sp auto;
    width: 75%;
}

.EventListItemName {
    color: #51595b;
    margin-top: 1.5sp;
    margin-left: 3sp;
    margin-right: 3sp;
    font: 3.3sp arial;
    text-align: left;
    width: 100%;
    white-space: nowrap;
}

.EventListItemAddress {
    color: #51595b;
    margin-top: 1sp;
    margin-left: 3sp;
    margin-right: 3sp;
    font: 2.5sp arial;
    text-align: left;
    width: 100%;
    white-space: nowrap;
}

.EventListItemType {
    color: #9b9fa0;
    margin-top: 1sp;
    margin-left: 3sp;
    margin-right: 3sp;
    font: 2.3sp arial;
    text-align: left;
    width: 100%;
    white-space: nowrap;
}

/* --------------------------------------------- */

/* Top Info Bar LeftExtraLayout and RightExtraLayout*/
.ExtraHorizontalLayout {
    .auto-height;
    horizontal-align: center;
}

.ExtraLayoutCss() {
    width: 40%;
}

.ExtraLeftLayoutCss {
    .ExtraLayoutCss;
    margin-right: 10%;
}

.ExtraRightLayoutCss {
    .ExtraLayoutCss;
    margin-left: 10%;
}

.ExtraInfo {
    color: #ffffff;
    .text-view-style(@topheading-text-size);
    text-align: center;
    width: 100%;
}

.ButtonExtraInfo {
    color: #ffffff;
    .text-view-style(@default-font-size);
    text-align: center;
    width: 100%;
}