@import "defaults.less";
@import "Components/TopInfoComponent.less";
@import "Components/TabBarComponent.less";

.EventListMainSV {
    height: auto;
    width: 100%;
    /*margin-top: 1sp;*/
    margin-bottom: 0sp;
}

.EventListMainVL {
    height: 0% auto;
    width: 100%;
}

.EventListDateHL {
    height: 3sp;
    width: 100%;
    margin-top: 2sp;
    horizontal-align: center;
}

.EventListDateTV {
    width: 95%;
    color: #9b9fa0;
    font: 2sp arial;
    text-align: left;
    margin-top: 0sp;
    margin-left: 2sp;
    padding-left: 1.5sp;
    vertical-align: center;
    horizontal-align: center;
}

.EventListLongBreaker {
    background-color: #f3f3f4;
    height: 2px;
    horizontal-align: center;
    width: 100%;
}

.EventListShortBreaker {
    background-color: #f3f3f4;
    height: 2px;
    horizontal-align: right;
    width: 100%;
    margin-left: 3sp;
    margin-top: 1.7sp;
    margin-right: 3sp;
}

.EventListItemHL {
    height: 0% auto;
    width: 100%;
}

.EventListTimeVL {
    height: 11sp auto;
    width: 20%;
}

.EventListTimeTV {
    color: #51595b;
    margin-top: 1.5sp;
    font: 3.3sp arial;
    width: 80%;
}

.EventListCounterTV {
    color: #feb3a3;
    margin-top: 5.2sp;
    font: 2sp arial;
    width: 85%;
    text-align: center;
}

.EventListStatusVL {
    height: 11sp auto;
    width: 5%;
}

.EventListLineBeforeVL {
    horizontal-align: center;
    height: 2sp;
    width: 3px;
    background-color: #f3f3f4;
}

.EventListStatusIMG {
    horizontal-align: center;
    height: 2sp;
}

.EventListLineAfterVL {
    horizontal-align: center;
    height: 100% auto;
    width: 3px;
    background-color: #f3f3f4;
}

.EventListDescriptionVL {
    height: 11sp auto;
    width: 75%;
}

.EventListItemName {
    color: #51595b;
    margin-top: 1.5sp;
    margin-left: 3sp;
    margin-right: 3sp;
    font: 3.3sp arial;
    text-align: left;
    width: 100%;
    white-space: nowrap;
}

.EventListItemAddress {
    color: #51595b;
    margin-top: 1sp;
    margin-left: 3sp;
    margin-right: 3sp;
    font: 2.5sp arial;
    text-align: left;
    width: 100%;
    white-space: nowrap;
}

.EventListItemType {
    color: #9b9fa0;
    margin-top: 1sp;
    margin-left: 3sp;
    margin-right: 3sp;
    font: 2.3sp arial;
    text-align: left;
    width: 100%;
    white-space: nowrap;
}

/* --------------------------------------------- */

/* Top Info Bar LeftExtraLayout and RightExtraLayout*/
.ExtraHorizontalLayout {
    .auto-height;
    horizontal-align: center;
}

.ExtraLayoutCss() {
    width: 40%;
}

.ExtraLeftLayoutCss {
    .ExtraLayoutCss;
    margin-right: 10%;
}

.ExtraRightLayoutCss {
    .ExtraLayoutCss;
    margin-left: 10%;
}

.ExtraInfo {
    color: #ffffff;
    .text-view-style(@topheading-text-size);
    text-align: center;
    width: 100%;
}

.ButtonExtraInfo {
    color: #ffffff;
    .text-view-style(@default-font-size);
    text-align: center;
    width: 100%;
}
